/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .THIS .header {
        order: 1;
    }

    .THIS .left {
        order: 2;
    }

    .THIS .middle {
        order: 3;
    }

    .THIS .right {
        order: 4;
    }

    .THIS .footer {
        order: 5;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .THIS .header {
        order: 1;
    }

    .THIS .left {
        order: 3;
    }

    .THIS .middle {
        order: 2;
    }

    .THIS .right {
        order: 4;
    }

    .THIS .footer {
        order: 5;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    .THIS .header {
        order: 1;
    }

    .THIS .left {
        order: 3;
    }

    .THIS .middle {
        order: 2;
    }

    .THIS .right {
        order: 4;
    }

    .THIS .footer {
        order: 5;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    .THIS .header {
        order: 1;
    }

    .THIS .left {
        order: 2;
    }

    .THIS .middle {
        order: 3;
    }

    .THIS .right {
        order: 4;
    }

    .THIS .footer {
        order: 5;
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    .THIS .header {
        order: 1;
    }

    .THIS .left {
        order: 2;
    }

    .THIS .middle {
        order: 3;
    }

    .THIS .right {
        order: 4;
    }

    .THIS .footer {
        order: 5;
    }
}