@media only screen and (min-width: 769px) {
    .slds-modal__container {
        width: 35% !important;
        max-width: 35% !important;
    }
    .slds-modal__content {
        min-height: 25% !important;
    }
}