@media only screen and (min-width: 769px) {
    .slds-modal__container {
        width: 40% !important;
        max-width: 40% !important;
    }
    .slds-modal__content {
        min-height: 70% !important;
    }
}