@media only screen and (min-width: 769px) {
    .slds-modal__container {
        width: 70% !important;
        max-width: 70% !important;
    }
    .slds-modal__content {
        min-height: 30% !important;
    }
}