@import 'c/utilCSS';




.email-container {
    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        border-bottom: 0.5px solid var(--dark-gray-clr);

        .email-input {
            border: 0;
            padding-left: 10px;
        }

        .email-input[data-device="desktop"] {
            flex: 1;
        }

        .email-input[data-device="mobile"],
        .email-input[data-device="tablet"] {
            width: 100%;
            padding-top: 10px;
        }

        .email-input:focus {
            outline: none;
            border: 0;
        }
    }
}